@use '../../styles/themes';

.container{
    background: themes.$brand;
    overflow: hidden;
    width: 100%;
    
    .header{
        margin: 2rem 2rem 2rem 2rem;
    
        & h1{
            font-size: 1.5rem;
            margin-bottom: 2rem;
            color: themes.$color-text;
        }
    
        & form{
            display: flex;
            justify-items: center;
        }
        & form input{
            height: 3rem;
            width: 60%;
            border: 0;
            border-radius: 0.5rem 0 0 0.5rem;
            padding: 0 1rem 0 1rem;
            font-size: 14pt;
        }
        & form input:focus{
           outline: none;
        }
        & form button{
            height: 3rem;
            width: 4rem;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 0 0.5rem  0.5rem 0;
            background-color: rgba(0, 0, 0, 0.473);   
        }
        
        & form button svg{
            height: 25px;
            width: 25px;
        }
        
        & form button:active svg{
            animation: buttonEffect 0.2s;
    
            @keyframes buttonEffect {
                to{
                    height: 20px;
                    width: 20px;
                }
                from{
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }

    .topMusics{
        margin: 2rem 2rem 2rem 2rem;
        display: flex;
        width: 100%;
        
        & .music{
            margin-right:1rem;
        }
        & .musicImage{
            max-width: 450px;
            min-width: 200px;
        }
        & .musicImage img{
            width: 100%;
            border-radius: 8px;
        }
        & .musicDetails {
            color: themes.$color-text;
        }
        & .musicDetails p:first-child{
            font-weight: 500;
            font-size: 14pt;
        }
        & .musicDetails p:last-child{
            font-weight: 400;
            opacity: 0.5;
            font-size: 11pt;
        }
    }
    .topMusicAndPlaylist{
        display: flex;
        margin: 2rem;
    
    }

    .lastMusics{
        width: 50%;
        & h1{
            color: themes.$color-text;
            font-size: 16pt;
            margin: 1rem 0;
        }

        & .listLastMusicsCard{
            height: 250px;
            overflow-y: scroll;
            width: 100%;
            
            &::-webkit-scrollbar {
                width: 1rem;
              }
              
              /* Track */
              &::-webkit-scrollbar-track {
                box-shadow: 0 0 5px grey; 
                border-radius: 10px;
              }
               
              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: themes.$brand-dark; 
                border-radius: 10px;
              }
              
              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                background: themes.$brand-light; 
              }
        }
        & .listLastMusics{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }

        & .lastMusic{
            display: flex;
            align-items: center;

            width: 100%;
        }

        & .lastMusicImage{
            width: 80px;
            height: 80px;
            margin-right: 1rem ;
        }

        & .lastMusicImage img{
           width: 100%;
           border-radius: 8px;
           
        }

        & .lastMusicDetails p:first-child{
            color: themes.$color-text;
            font-size: 15pt;
            font-weight: 500;
        }

        & .lastMusicDetails p:last-child{
            color: themes.$color-text;
            font-size: 12pt;
            font-weight: 400;
            opacity: 0.39;
        }
        
        & .lastMusicButtons{
           display: flex;
           justify-content: space-between;
           align-items: center;
           width: 10rem;
           
        }
        & .lastMusicButtons button{
            background-color: transparent;
            border: 0;
            margin: 1rem;
            transition: ease 0.2s;
            height: 50px;
            width: 50px;
        }
        & .lastMusicButtons button:active{
            background-color: rgba(0, 0, 0, 0.199);
            border-radius: 100%;
        }

        & .lastMusicButtons button:active svg{
            height: 35px;
            width: 35px;
            
        }

        & .lastMusicButtons svg{
            height: 40px;
            width: 40px;
        }
    }

    .playlistCard{
        width: 50%;
        & h1{
            color: themes.$color-text;;
            font-size: 16pt;
            margin: 1rem 0;
        }

        & .playlist{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
        }

        & .playlist div:first-child{
            
            margin-right: 1rem;
        }
    }

}

