@use "../../styles/themes";


.containerMobile{
    display: none;
}

.container{
    background: themes.$bg;
    display: flex;
    align-items: center;

    
    
    
}
.buttons{
    display: flex;
    flex-direction: column;
    
    & button{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 2rem;
        height: 3rem;
        width: 3rem;
        
        border-radius: 50%;
        background: transparent;
        border: 0;
    }

    
    & button svg{
        width: 1.5rem;
        height: 1.5rem;
        transition: all 0.1s;
    }

    & button:hover svg{
        width: 2rem;
        height: 2rem;
    }

    & button:active{
        background-color: rgba(39, 43, 43, 0.103);
    }

    & button:active svg{
        width: 1.25rem;
        height: 1.25rem;
    }

    & button:last-child {
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 600px ) {
    .container{
        display: none;
    }
    .containerMobile{
        display: flex;
        flex-direction: column;        
        background: themes.$brand-dark;
        width: 100vw;

        .buttonPlaylist{
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 2rem;

            height: 3rem;
            width: 3rem;

            button{
                display: flex;
                justify-content: center;
                align-items: center;

                background: themes.$bg;
                border-radius: 100%;
                height: 3rem;
                width: 3rem;

                border: 1px solid white;

                transition: 0.1s;
                svg{
                    
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
            button:active{
                height: 2.8rem;
                width: 2.8rem;
            }
        }

        .menu{
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            

            img{
                padding: 1rem;
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }

            button{
                width: 45px;
                height: 45px;
                background: transparent;
            }

            .openMenu{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                border: 0;
                position: relative;
                
                span, span::before, span::after{
                    position: absolute;
                    display: block;
                    width: 2rem;
                    background: white;
                    height: 0.125rem;
                }
                span::before{
                    margin-top: -8px;
                    content: '';
                }
                span::after{
                    margin-top: 8px;
                    content: '';
                }
               
            }
        }

        .menuOptions{
            display: flex;
            flex-direction: column;

            button{
                display: flex;
                align-items: center;
                height: 3rem;
                background: transparent;
                text-align: left;
                padding: 0.5rem;
                border: 0;
                color: themes.$color-text;
                border-bottom: 1px solid white;
                font-size: 12pt;
                font-weight: 600;

                svg{
                    margin-right: 1rem;
                }
            }
            
            button:hover{
                background: themes.$brand-light;
            }
        }
    }
}