.container{
    
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    
    .div3{
        height: 100vh;
        width: 100%;
        background: rgb(20, 20, 20);
    }
}

